body{
    min-height: 100vh;
    background-image: url(../images/zombie.jpg);
    background-size: cover;
    color: #131508;
}

.container{
    background-image: radial-gradient(circle, rgba(116,160,21,0.9), rgba(106,121,8,0.2), rgba(87,86,7,0.3), rgba(63,54,8,0.8), rgba(36,26,0,.9));
    font-weight: bold;
    padding:20px;
    min-height: 100vh;
}

#currentWord{
    letter-spacing: 3px;
}

/* font-family: 'Michroma', sans-serif;
font-family: 'MedievalSharp', cursive;
font-family: 'Hanalei Fill', cursive; */

h4{
    font-family: 'Butcherman', cursive;
    font-size: 30px;
}

h5{
    color: #a7460f;
    font-size: 50px;
}

#halloTxt{
    font-family: 'Kirang Haerang', cursive;
    font-size: 95px;
}

#hangTxt{
    margin-top: -30px;
    font-family: 'Kirang Haerang', cursive;
    font-size: 65px;
}

#zombieTxt{
    font-family: 'Hanalei Fill', cursive;
    font-size: 45px;
}

#lettersGuessed{
    font-size: 25px;
}

img{
    width: 250px;
}

@media {}@media screen and (max-width: 640px) {
  
    .container{
        background-image: radial-gradient(circle, rgba(116,160,21,0.9), rgba(106,121,8,0.9), rgba(87,86,7,0.3), rgba(63,54,8,0.2), rgba(36,26,0,0.1));
    }

}

