body{
    height: 100vh;
    background-image: url(../images/zombie.jpg);
    background-size: cover;
}

#currentWord{
    letter-spacing: 3px;
}

/* font-family: 'Michroma', sans-serif;
font-family: 'MedievalSharp', cursive;
font-family: 'Hanalei Fill', cursive; */

h4{
    font-family: 'Michroma', sans-serif;
}

h5{

}

h6{

}

#textDiv{
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
}

::before,
*::after {
  box-sizing: content-box;}